.footer {
    background-color: $color-secondary;
    padding-top: $pa-s;
    padding-bottom: $pa-s;
    margin-top: $ma-s;
}

.container {
    width: 80%;
    margin: auto;
}


.link-icon {
    width: 24px;
    height: 24px;
}